@charset "UTF-8";
@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  text-align: center;
  font-family: Roboto, serif;
  background: #21201e;
}

nav {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #eee;
  gap: 100px;
  margin-top: 20px;
  text-transform: uppercase;
}

.nav-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  list-style: none;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 105px;
  margin-left: 105px;
}

.nav-icon {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 15px;
}

.logo {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-right: 50px;
}

.logo h3 {
  font-family: Allura, cursive;
  color: #eee;
  font-size: 2.5rem;
  margin-top: 20px;
}

header {
  background: url(/assets/img/bg-slider-06.jpg) fixed center/cover;
  padding: 400px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  position: relative;
  color: #eee;
}

.header-text h2 {
  font-family: Allura, cursive;
  color: rgb(166, 114, 69);
  font-size: 2.6rem;
  font-weight: 100;
  padding-bottom: 10px;
}

.header-text h1 {
  font-size: 3.2rem;
  text-transform: uppercase;
  font-family: Poppins, serif;
  word-spacing: 20px;
  letter-spacing: 10px;
}

.header-text {
  padding-top: 130px;
}

.header-text h5 {
  font-family: Roboto, serif;
  word-spacing: 30px;
  text-transform: uppercase;
  font-weight: 100;
  padding-top: 30px;
}

.header-text img {
  padding-top: 30px;
}

.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #eee;
  height: 65vh;
}

.section1-right img {
  width: 100%;
  height: 65vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.element-left h5 {
  font-family: Allura, cursive;
  color: rgb(166, 114, 69);
  font-size: 2rem;
  padding-top: 35px;
  font-weight: 100;
}

.element-left h4 {
  text-transform: uppercase;
  font-weight: bold;
}

.element-left img {
  padding-top: 30px;
}

.element-left p {
  padding-top: 35px;
}

.section1-left img[src*="avatar-01.jpg"] {
  width: 80px; /* Ajuste la largeur selon tes besoins */
  height: auto; /* Garde le ratio */
  border-radius: 50%; /* Optionnel pour un effet arrondi */
  padding-top: 40px;
}

.section1-left h6 {
  padding-top: 10px;
  font-size: 1rem;
}

.menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Deux colonnes de largeur égale */
  gap: 20px; /* Espacement entre les colonnes */
  max-width: 900px; /* Largeur max du menu */
  margin: auto; /* Centrer le menu */
  background: #eee;
  padding: 20px;
}

.item-left, .item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px; /* Espacement entre les items */
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 5px;
  padding-bottom: 40px;
}

.menu-item img {
  border-radius: 50%;
}

.detail {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.detail strong {
  font-size: 16px;
  color: #333;
}

.detail br {
  line-height: 1.5;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: rgb(166, 114, 69);
}

.section2-texte h4 {
  padding-top: 40px;
  font-family: Allura, cursive;
  color: rgb(166, 114, 69);
  font-size: 2rem;
  font-weight: 100;
}

.section2-texte img {
  padding-bottom: 25px;
  padding-top: 35px;
}

.nav-section2 {
  padding-bottom: 40px;
}

.nav-elements-section2 li {
  display: inline-block;
  padding: 10px 15px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.3s ease-in-out;
  transition: border-bottom 0.3s ease-in-out;
}

.nav-elements-section2 li {
  border-bottom: 2px solid #ffffff;
}

.nav-elements-section2 li:hover {
  border-bottom: 2px solid rgb(166, 114, 69);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.section2 {
  background-image: url("/assets/img/bg-menu-01.jpg");
  padding-bottom: 150px;
  padding-top: 15px;
  background-position: center 120%;
  background-repeat: no-repeat;
}

.book {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 90px 220px;
  background-color: #eee;
}

.book-left h2 {
  color: rgb(166, 114, 69);
  font-family: Allura, cursive;
  font-size: 2rem;
  font-weight: 200;
}

.book-left h3 {
  color: #eee;
  font-family: Poppins, serif;
  font-weight: 900;
  font-size: 1.5rem;
  padding-bottom: 20px;
  line-height: 10px;
}

.book-left img {
  padding-bottom: 25px;
}

.book-left h4 {
  color: rgb(166, 114, 69);
  font-family: Poppins, serif;
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 10px;
}

.book-left h5 {
  color: #eee;
  font-family: Roboto, serif;
  font-weight: 600;
  padding-bottom: 30px;
}

.book-left {
  background-color: black;
  padding: 80px;
}

.book-right h2 {
  color: rgb(166, 114, 69);
  font-family: Allura, cursive;
  padding-top: 70px;
  font-size: 2.5rem;
  font-weight: 200;
}

.book-right h3 {
  color: #21201e;
  font-family: Poppins, serif;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 10px;
}

.book-right img {
  padding-top: 35px;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
  margin-bottom: 15px;
  margin-top: 45px;
}

input, select {
  border: none;
  outline: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  padding: 5px 0;
  width: 100%;
}

.form-row {
  padding-left: 100px;
  padding-right: 100px;
}

button {
  background-color: #21201e;
  color: #eee;
  border-radius: 25px;
  padding: 10px 30px;
  margin: 40px;
  font-family: Poppins, serif;
}

.section4 h4 {
  font-family: Allura, cursive;
  color: rgb(166, 114, 69);
  font-size: 2.2rem;
  font-weight: 200;
}

.section4 h3 {
  font-family: Poppins, serif;
  font-size: 2rem;
  color: #eee;
  text-transform: uppercase;
  line-height: 30px;
}

.icon-p {
  padding-top: 30px;
}

.section4-event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 180px;
  padding-top: 50px;
  color: #21201e;
  font-family: "Helvetica", sans-serif;
}

.event-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #eee;
  color: #21201e;
  border-radius: 4px;
  overflow: hidden;
}

.img {
  position: relative;
  width: 50%;
}

.img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.img-content {
  position: absolute;
  top: 85px;
  left: 110px;
  background: #21201e;
  color: #eee;
  text-align: center;
  padding: 10px;
  width: 60px;
}

.img-content h3 {
  font-size: 22px;
  margin: 0;
}

.img-content h4 {
  font-size: 14px;
  margin: 0;
  font-family: Poppins, serif;
  color: #eee;
}

.info-event {
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #21201e;
}

.info-event h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #21201e;
  font-family: Roboto, serif;
  font-weight: 400;
  text-align: left;
}

.info-event h5 {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
  font-family: Roboto, serif;
  font-weight: 100;
  text-align: left;
}

.info-event h4 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #21201e;
  cursor: pointer;
  font-family: Roboto, serif;
  text-align: left;
  padding-top: 20px;
  font-weight: 900;
}

.event-right {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: inset(0px 0px 80px 0px);
          clip-path: inset(0px 0px 80px 0px); /* coupe 20px du bas */
}

.event-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 4px;
}

.event-right-content {
  position: absolute;
  background: #eee;
  padding: 80px 80px 80px;
  max-width: 90%;
  width: 85%;
  text-align: center;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.event-date {
  position: absolute;
  top: -1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #21201e;
  color: #eee;
  padding: 10px 15px;
  text-align: center;
  font-size: 14px;
  border-radius: 2px;
}

.event-date .day {
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.event-date .month {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
}

.event-right-content h3 {
  font-size: 18px;
  color: #21201e;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 500;
  font-family: Roboto, serif;
}

.event-right-content h5 {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
  font-family: Roboto, serif;
  font-weight: 300;
}

.buy-ticket {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  cursor: pointer;
  margin-top: 10px;
  font-family: Roboto, serif;
  font-weight: 900;
}/*# sourceMappingURL=index.css.map */